.card-wrapper {
  position: relative;
  max-width: 80rem;
  margin: auto;
  padding: 1.5rem;

  a {
    &:link {
      text-decoration: none;
    }
  }

 .card {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 30px;

    background: rgba(255,255,255,.12);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(22px);

    border: 1px solid rgba(255,255,255,0.35);

    box-shadow:
        0 8px 32px rgba(0,0,0,.08),
        inset 0 1px 0 rgba(255,255,255,.4);

    overflow: hidden;
    transition: .3s ease;

    margin-bottom: 5rem;

    &:hover{
        transform: translateY(-3px);

        box-shadow:
            0 16px 40px rgba(0,0,0,.12),
            inset 0 1px 0 rgba(255,255,255,.45);
    }
}
}


